/* .App {
  text-align: center;
} */


.App-header {
  background-color:white;
  height: 35px;
  padding: 20px;
  
}

.navbar {
  margin-top: auto;
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat&display=swap');